
@font-face {
    font-family: scoreFont;
    src: url(CursedTimerUlil-Aznm.ttf);
    
}


*{
    box-sizing: border-box;
    text-align: center;

}

body {
    background-color: #1B2440;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    justify-content: center;
    max-width: 420px;
    margin: 25px auto;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: flex;
    justify-content: space-around;
}

button {
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background-color: transparent;
    height: 45px;
    width: 45px;
    font-family: scoreFont;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: -15px;
}

p {
   background-color: #080001;
   height: 120px;
   width: 155px;
   font-size: 90px;
   text-align: center;
   font-family: scoreFont;
   border-radius: 5px;
   color: #F94F6D;
   padding: 15px 10px;
   margin-left: 10px;
   padding-bottom: -20px;
}
h3 {
    font-size: 40px;
    margin-left: auto;
    margin-right: 25px;
    margin-bottom: -50px;
    padding: 5px 10px;
}

#resetButton {
    margin-left: -250px;
    padding: 10px 10px;
}